<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<h1 th:text="${'Xin chào, ' + name}"></h1>
<p> Chúng tôi đã tiếp nhận yêu cầu của bạn: </p>
<h3 th:text="${'- Tên truy cập: ' + name}"></h3>
<h3 th:text="${'- Mật khẩu truy cập tạm thời: ' + pass}"></h3>
<p style="color: red">Lưu ý: Đây là mật khẩu mặc định được tạo bởi hệ thống. Bạn vui lòng đổi lại để đảm bảo an toàn
    thông tin.</p>
</body>
</html>